# UTF-8 without BOM
# このファイルはBOMなしで編集/保存してください。

[settings]

# 音声ファイルの再生に使うコマンドを指定します。
# コマンド中の ${file} は下記で指定したファイルに置き換えられます。
# コマンド中の ${event} はイベント種別に置き換えられます。
command=C:\cygwin64\bin\ffplay.exe -nodisp -autoexit -loglevel 0 ${file}

# デフォルトはtrueで、存在しないファイルは指定ごと存在しなかったことになります。
# false にすると下記のファイルの存在確認を行わなくなります。
validateFile=true

# デフォルトはtrueで、直前に実行したコマンドをkillしてから次のコマンドを実行します。
# falseにすると直前に実行したコマンドをkillしません。
destroyPreviousProcess=true

# イベントの種類
# IntelliJ IDEA でGradleを使う場合はイベントを検出できません。
# IntelliJ IDEA でJavaやKotlinを直接扱う場合は BeforeCompile, BuildSuccess, BuildWarning, BuildError, TestPassed, TestDefect イベントを受け取れます。
# Android Studio でGradleを使う場合は BuildSuccess, BuildWarning, BuildError イベントを受け取れます。

# イベントごとにセクションを作って、その下に音声ファイルを0個以上指定します。
# ファイル名が / や \ や (ドライブ文字):\ で始まる場合は絶対パス、
# それ以外は設定ファイルがあるフォルダからの相対パスとして解釈されます。

[BeforeCompile]
がんばれっがんばれっ.mp3
がんばれ～1.mp3
ね～え～まだおわらないの？.mp3
ね～まだおわらないの？.mp3
進捗どうですか.mp3

[BuildSuccess]
コンパイルおわったよ～！.mp3
コンパイルおわり！その調子！.mp3
コンパイルおわり！順調かな？.mp3
コンパイルおわり！順調かな？２.mp3
コンパイル終わり～！その調子～！.mp3

[BuildWarning]
いいコード書いてる？.mp3
おつもな～.mp3
バグなおったかな？.mp3
今度はどうかな？.mp3

[BuildError]
いっぱいがんばっててえらい！1.mp3
たすけて！もなふわすい～とる～む！！.mp3
コンパイル？？.mp3

[TestPassed]
再生したよ～！.mp3

[TestDefect]
ちゃんとテストした？.mp3
ちゃ～んとテストした？.mp3
たすけて！もなふわすい～とる～む！！.mp3

# このセクション名には該当するイベントがなく、使われません
[other]
ちゃんとテストした？.mp3
ちゃ～んとテストした？.mp3
再生したよ～！.mp3
